{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  Administration - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1> {{ title }} </h1>

    {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="form-group clearfix">
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.name) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.name, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div>

                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.description, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.description) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.description, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div>

                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.ongoing, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.ongoing) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.ongoing, { 'attr':  {
                        'class': 'form-control select',
                    }}) }}
                </div>

                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.dateStart, null, {'label_attr': {'class':'control-label' }}) }}
                
                </div>
                {{ form_errors(form.dateStart) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateStart.date.year,  { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required',
                        },'value' : "now"|date("Y"),


                        }) }}
                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateStart.date.month, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required',
                         },'value' : "now"|date("m"),


                        }) }}

                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateStart.date.day, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required', 
                        },'value' : "now"|date("d"),


                        }) }}
                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateStart.time.hour, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required', 
                        }


                        }) }}
                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateStart.time.minute, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required', 
                        }


                        }) }}
                    </div>
                </div>

                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.dateEnd, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.dateEnd) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateEnd.date.year, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required',
                         },'value' : "now"|date("Y"),


                        }) }}

                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateEnd.date.month, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                         },'value' : "now"|date("m"),


                        }) }}

                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateEnd.date.day, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required',
                         },'value' : "now"|date("d"),


                        }) }}

                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateEnd.time.hour, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required',


                    }}) }}
                    </div>
                    <div class="col-lg-2 col-md-2">
                        {{ form_widget(form.dateEnd.time.minute, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required',


                    }}) }}
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_label(form.pollOptions, null, {'label_attr': {'class':'control-label' }}) }}
                    Les options 
                    
                        <a class="btn btn-success" href="#0" id="listlinks_links">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                 
                    {{ form_errors(form.pollOptions) }}
                    {% for key, option in form.pollOptions %}
                        <div class="form-group clearfix" name="link_{{ key }}">
                            <div class="col-lg-1 slm-padding">
                                <a class="btn btn-danger" onclick="remove_link('{{ key }}')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                            <div class="col-lg-6 slm-padding">
                                {{ form_widget(option.name, { 'attr':  {
                                'class': 'form-control' }}) }}
                            </div>
                        </div>
                    {% endfor %}
                    <div id="links-list" data-prototype='<script>
                        $(".listlinks_delete").click(function() {
                            $(this).closest("div.clearfix").remove();
                        });
                    </script>
                    <div class="form-group clearfix">
                        <div class="col-lg-1 slm-padding">
                            <a id="entities__name__" class="btn btn-danger listlinks_remove"><span class="glyphicon glyphicon-minus"></span></a>
                        </div>
                        

                        <div class="col-lg-6 slm-padding">            
                                 <input type="text" class="form-control" id="au_adminbundle_polladmin___name___name" name="au_adminbundle_polladmin[links][__name__][name]" placeholder=""  />
                        </div>
                    </div>
                    '>
                    </div>
                </div>

            </div>
        </div> 
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    {{ form_end(form) }}

{% endblock %}
