{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  Administration - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>Affichage du sondage</h1>
    <div class="table-responsive">
        <table class = "table table-bordered " id="pagination">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ pollAdmin.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ pollAdmin.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ pollAdmin.description|raw }}</td>
                </tr>
                <tr>
                    <th>En cours</th>
                    <td>{% if pollAdmin.ongoing %}Oui{% else %}Non{% endif %}</td>
                </tr>
                <tr>
                    <th>Date de début</th>
                    <td>{{ pollAdmin.dateStart|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>Date de fin</th>
                    <td>{{ pollAdmin.dateEnd|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>Options</th>
                    <td>
                        {% for option in pollAdmin.pollOptions %}
                            {{ option.name }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <div class ="text-center">
        {{ form_start(delete_form) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        <a href="{{ path('admin_poll_edit', { 'id': pollAdmin.id }) }}" class="btn btn-info">Editer</a>
        
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
