{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %} 


{% block body %} 	
	<div class="page-head">     
	<h3>Error 403</h3>     
		<span class="sub-title">Error 403</span> 
	</div> 
	<div class="alert alert-danger"> 		
		<h3>{{ status_text }}</h3> 		
		<br/> 		{% if is_granted('ROLE_SUPER_ADMIN') %}
		{{ exception.message|nl2br }}
		<br/> 		
	{% endif %} 		

	<h4>{{ 'errors.error_403'|trans() }}</h4> 	
	</div> 
{% endblock %}