{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
  Profil - {{ parent() }}
{% endblock %}

{% block fos_user_content %}


<h2>Profil</h2>

<div class="fos_user_user_show">
	Vos informations
	 <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                	<th>Nom d'utilisateur</th>
                	<td>{{ user.username }}</td>
                </tr>
                 <tr>
                	<th>E-mail</th>
                	<td>{{ user.email }}</td>
                </tr>
                 <tr>
                	<th>Dernière connexion</th>
                	<td>{{ user.lastlogin|date('d-m-Y') }}</td>
                </tr>
                 <tr>
                	<th>Photo</th>
                	<td><img src="{{ asset('uploads/users/' ~ user.id ~ '/' ~ user.picture ~ '') }}" height="100px" /></td>
                </tr>
                 <tr>
                	<th>Prénom</th>
                	<td>{{ user.firstname }}</td>
                </tr>
                 <tr>
                	<th>Nom</th>
                	<td>{{ user.lastname }}</td>
                </tr>
                 <tr>
                	<th>Anniversaire</th>
                	<td>{{ user.birthday }}</td>
                </tr>
                 <tr>
                	<th>Genre</th>
                	<td>{{ user.gender }}</td>
                </tr>
                 <tr>
                	<th>Langue</th>
                	<td>{{ user.language }}</td>
                </tr>
                 <tr>
                	<th>Localisation</th>
                	<td>{{ user.location }}</td>
                </tr>
                 <tr>
                	<th>Styles</th>
                	<td>{{ user.styles }}</td>
                </tr>
                 <tr>
                	<th>Outils</th>
                	<td>{{ user.tools }}</td>
                </tr>
                <tr>
                	<th>Equipements</th>
                	<td>{{ user.equipments }}</td>
                </tr>
                <tr>
                	<th>Sites</th>
                	<td>{{ user.website }}</td>
                </tr>
                <tr>
                	<th>Biographie</th>
                	<td>{{ user.bio }}</td>
                </tr>
                <tr>
                	<th>Réseaux sociaux</th>
                	<td>{{ user.socialmedia }}</td>
                </tr>
                
            </tbody>
        </table>
        {{ render(controller(
                'AUProjectBundle:Project:myProject'
            )) }}
    </div>
   	<div class ="text-center">
   	 <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning"> Editer le profil </a>
   	</div>
</div>

{% endblock fos_user_content %}
