{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  Les catégories - {{ parent() }}
{% endblock %}

{% block au_body %}
<style>

    #pagination td, tr, th {
     border: 1px solid #ddd; !important;
    background: transparent !important ;
    }

    
</style>
  


    <h1>Liste des catégories</h1>
    <div class="table-responsive">
        <table class = "table table-bordered " id="pagination">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Cover</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                    <td>{{ category.name }}</td>
                    <td><img src="{{ asset('uploads/category/'~category.cover) }}" width="90px"></td>
                    <td>{{ category.description|raw }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('category_show', { 'id': category.id }) }}">{{ 'global.new'|trans() }}</a>
                            </li>
                            <li>
                                <a href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'global.edit'|trans() }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('category_new') }}">{{ 'global.new'|trans() }}</a>
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>

{% endblock %}
