{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}

{% for lecture in lectures %}
<div class="col-lg-3">
    <div class="thumbnail text-center">
        <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}" height="150px">
        <div class="caption">
            <p>{{ lecture.name }}</p>
            <p><a href="{{ path('lecture_show',{ 'id' : lecture.id })}}" class="btn" style="background-color:#2b2b2b; color: white; font-size:  " role="button">Voir</a> </p>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
