{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
 {{ title }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>Nouvelle catégorie</h1>

    {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="form-group clearfix">
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.name) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.name, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div> 
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.cover, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.cover) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.cover, { 'attr':  {
                        'class': 'form-control'
                    }}) }}
                </div>
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.description, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.description) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.description, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" />
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    {{ form_end(form) }}


     

{% endblock %}
