{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'category.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1 class="text-center"> {{ category.name }}</h1>

    <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Cover</th>
                    <td><img src="{{ asset('uploads/category/'~category.cover) }}"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ category.description|raw }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ form_start(delete_form) }}
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-info">{{ 'global.edit'|trans() }}</a>
            <input type="submit" value="{{ 'global.delete'|trans() }}" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
