{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  {{ 'menu.home'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}

<style>
  button.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
  }

  button.accordion.active, button.accordion:hover {
      background-color: #ddd;
  }

  button.accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }

  button.accordion.active:after {
      content: "\2212";
  }

  div.panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }
</style>

<h2 class="text-center"><img src ="{{ asset('logo.png') }}" width="220px" /></h2>
  <br />
  <br />
  <div style ="color:black; size:14px">

{% for page in pages %}
    <button class="accordion">
      {% if app.request.get('_locale') == 'en' %}
        {{ page.nameEn }}
      {% else %}
        {{ page.name }}
      {% endif %}
    </button>
    <div class="panel">
      {% if app.request.get('_locale') == 'en' %}
        {{ page.textEn|raw }}
      {% else %}
        {{ page.text|raw }}
      {% endif %}
    </div>
{% endfor %}

<button class="accordion"> {{ 'poll.on_going_polls'|trans() }} </button>
  <div class="panel polldiv col-lg-12">
  {% for poll in polls %}
      <h4>{{ poll.name }}</h4>
      <p>{{ poll.description|raw }}</p>
      {{ 'poll.options'|trans() }} :
      <div id="option_{{poll.id}}" style="font-size: 14px; padding-top:2px">
      {% for option in poll.pollOptions %}
        <div class="form-group">
          <div class="col-lg-1 text-center" style="background-color:#ddd">
            <span id="mybox_{{poll.id}}_{{ option.id}}" > {{ option.user|length }} </span>
          </div>
          <div class="col-lg-10" style="background-color:#eee">
            {{ option.name }}

            {% set hasvote = false %}
            {% if app.user %}
              {% for voter in option.user %}
                {% if voter.username == app.user.username%}
                  {% set hasvote = true %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-lg-1 text-center" style="background-color:#ddd">
            {% if app.user %}
              {% if hasvote %}
                <input type="checkbox" class ="form-check-input" id="checckbox_vote_{{poll.id}}_{{ option.id}}" onclick="vote({{poll.id}},{{option.id}});"  checked/>
              {% else %}
                <input type="checkbox" class ="form-check-input" id="checckbox_vote_{{poll.id}}_{{ option.id}}" onclick="vote({{poll.id}},{{option.id}});"/>
              {% endif %}
            
            {% else %}
            {% endif %}
            <br />
          </div>
        </div>

      {% endfor %}
      </div>

      {% if app.user %}     
        <div class = text-center>
          <input type="text" name="addoption" id="addoption_{{poll.id}}" class="form-control">
          <input type="button" value="{{ 'poll.add_option'|trans() }}" id="addoption_submit_{{poll.id}}" class ="btn btn-success" onclick="addOption({{poll.id}});">
        </div>
      {% endif %}
      <br />

  {% endfor %}
  </div>

<button class="accordion">{{ 'notice.your_notices'|trans() }}</button>
  <div class="panel noticediv">
    <div id = "noticearea">
     
      <ul class="list-group list-group-flush noticelist" >
      {% for notice in notices %}
        <li class="list-group-item">
          <span id="number_vote_notice_{{notice.id}}">
            {{ notice.voters|length}}</span> {{ 'notice.have_this_notice'|trans() }}
          
          <br />
          {{ notice.messages }}    
          <span style="float: right">
            {% if notice.owner is not empty %} 
              par {{ notice.owner[0].username }}
            {% endif %}
            {% if notice.dateStart is not empty %} 
              le {{ notice.dateStart|date("d-m-Y") }}
            {% endif %}

          </span> 
            <br />
            <div class="text-right">
            {% if app.user %}
              {% if app.user in notice.voters %}
                <input type="button" value="{{ 'notice.agree'|trans() }}" id="notice_vote_{{notice.id}}" class ="btn btn-danger" onclick="addVoteToNotice({{notice.id}});">
              {% else %}
                <input type="button" value="{{ 'notice.not_agree'|trans() }}" id="notice_vote_{{notice.id}}" class ="btn btn-info" onclick="addVoteToNotice({{notice.id}});">
              {% endif %}
            {% endif %}
              
            
            </div>        
        </li>  
      {% endfor %}
      </ul>
     
    </div>
    {% if app.user %}     
    <div class = text-center>
      <textarea class="form-control" rows = "4" name="notice" id="notice"></textarea>
      <input type="button" value="{{ 'notice.new'|trans() }}" id="notice_submit" class ="btn btn-success" onclick="addNotice();">
    </div>
    {% endif %}     
  </div>
</div>
<br />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + 20 + "px";
    } 
  }
}

//////////// Ajax vote
function vote(id_poll,id_option) {
        var url_vote = "{{ path('add_vote_poll', { 'id_poll' : 'var1', 'id_option' : 'var2' } ) }}";
        url_vote = url_vote.replace('var1', id_poll);
        url_vote = url_vote.replace('var2', id_option);

        var request = $.ajax({
            url: url_vote,
            type: "GET",          
        });
        
        request.done(function(msg) {
            console.log(msg);
            if(msg.vote == false) {
              var value = parseInt($("#mybox_"+msg.poll+"_"+msg.option).text(), 10) + 1;
              $("#mybox_"+msg.poll+"_"+msg.option).text(value);
            }
            else {
              var value = parseInt($("#mybox_"+msg.poll+"_"+msg.option).text(), 10) - 1;
              $("#mybox_"+msg.poll+"_"+msg.option).text(value); 
            } 
        });

        request.fail(function(jqXHR, textStatus) {
            alert( "Request failed: " + textStatus );
        });
    }

function addOption(id_poll) {
        var url_vote = "{{ path('add_option_poll', { 'id' : 'var1', 'id_option' : 'var2' } ) }}";
        url_vote = url_vote.replace('var1', id_poll);
        url_vote = url_vote.replace('var2',  ''+ $("#addoption_"+id_poll).val() +'');
        var request = $.ajax({
            url: url_vote,
            type: "GET",          
        });
        
        request.done(function(msg) {
          var value = $("#addoption_"+id_poll).val();
          $("#option_"+id_poll).append('<div class="form-group"><div class="col-lg-1 text-center" style="background-color:#ddd"><span id="mybox_'+ id_poll +'_0" >0</span></div><div class="col-lg-10" style="background-color:#eee"> ' + value + '</div><div class="col-lg-1 text-center" style="background-color:#ddd">{{ "poll.option_added"|trans() }}</div></div>');
          $("#addoption_"+id_poll).val('');
          $('.polldiv').height($('.polldiv').height() + 20);
          $('div.polldiv').css('max-height', $('.polldiv').height() + 20);
        });

        request.fail(function(jqXHR, textStatus) {
            alert( "{{ 'global.error'|trans() }} : " + textStatus );
        });
    }

function addNotice() {
        var url_vote = "{{ path('add_notice') }}";
        var datas = {};
        datas['notice'] = $("#notice").val();
        
        var request = $.ajax({
            data: datas,
            url: url_vote,
            type: "POST",          
        });
        
        request.done(function(msg) {
          var value = $("#notice").val();
          {% if app.user is not null %}
          $(".noticelist").prepend('<li class="list-group-item"><span id="number_vote_notice_'+ msg['new_id']+'">0</span>{{ "notice.have_this_notice"|trans() }}<br /> ' + value + '<span style="float: right">{{ "sidebar.per"|trans() }} {{ app.user.username }} {{ "sidebar.the"|trans() }} {{ "now"|date("d-m-Y")}} </span><br /><div class="text-right"><input type="button" value="{{ "notice.agree"|trans() }}" id="notice_vote_'+ msg['new_id']+'" class ="btn btn-info" onclick="addVoteToNotice('+ msg['new_id']+');"></div> </li>');
          $("#notice").val('');
          $('.noticediv').height($('.noticediv').height() + 40);
          $('div.noticediv').css('max-height', $('.noticediv').height() + 40);
          {% endif %}
        });

        request.fail(function(jqXHR, textStatus) {
            alert( "{{ 'global.error'|trans() }} : " + textStatus );
        });
    }

function addVoteToNotice(id_notice) {
        var url_vote = "{{ path('do_vote_notice') }}";
        var datas = {};
        datas['notice_id'] = id_notice;
        
        var request = $.ajax({
            data: datas,
            url: url_vote,
            type: "POST",          
        });
        
        request.done(function(msg) {
         // Ajouter un au nombre de vote
         if(msg.vote_add == true) {
            var value = parseInt($("#number_vote_notice_"+id_notice).text(), 10) + 1;
            $("#number_vote_notice_"+id_notice).text(value);
            $("#notice_vote_" + id_notice).removeClass("btn-info");
            $("#notice_vote_" + id_notice).addClass("btn-danger");
            $("#notice_vote_" + id_notice).prop('value', '{{ "notice.not_agree"|trans() }}');
          }
          else {
            var value = parseInt($("#number_vote_notice_"+id_notice).text(), 10) - 1;
            $("#number_vote_notice_"+id_notice).text(value); 
            $("#notice_vote_" + id_notice).removeClass("btn-danger");
            $("#notice_vote_" + id_notice).addClass("btn-info"); 
            $("#notice_vote_" + id_notice).prop('value', '{{ "notice.agree"|trans() }}');           
          } 
           


        });

        request.fail(function(jqXHR, textStatus) {
            alert( "{{ 'global.error'|trans() }} : " + textStatus );
        });
    }






</script>




{% endblock %}