{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'global.timeline'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
<h2>{{ 'global.timeline'|trans() }}</h2>

{{ 'text.module.timeline'|trans|nl2br }}
<section class="isolate-tabs">             
	<ul class="nav nav-tabs nav-justified">                 
		<li class="active">                     
			<a data-toggle="tab" href="#me" aria-expanded="true">
				{{ 'timeline.me'|trans() }}                     
			</a>                 
		</li>                 
		<li class="">                     
			<a data-toggle="tab" href="#friends" aria-expanded="false">
				{{ 'timeline.friends'|trans() }}   
			</a>                 
		</li>  
		<li class="">                     
			<a data-toggle="tab" href="#projects" aria-expanded="false">
				{{ 'timeline.projects'|trans() }}   
			</a>                 
		</li> 
		<li class="">                     
			<a data-toggle="tab" href="#groups" aria-expanded="false">
				{{ 'timeline.groups'|trans() }}   
			</a>                 
		</li>            
	</ul>
	<div class="panel-body">                 
		<div class="tab-content">
			<div id="me" class="tab-pane active">
				{{ 'timeline.me'|trans() }}
			</div>
			<div id="friends" class="tab-pane">
				{{ 'timeline.friends'|trans() }}
			</div>
			<div id="projects" class="tab-pane">
				{{ 'timeline.projects'|trans() }}
			</div>
			<div id="groups" class="tab-pane">
				{{ 'timeline.groups'|trans() }}
			</div>
		</div>
	</div>

{% endblock %}
