<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="Fadyl BELLO">
	    <meta name="keyword" content="Gestion, Projet, Art, United, Art, Collaboration">
	    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.ico')}}">

	    <title>{% block title %}{{ 'global.website_name'|trans() }}{% endblock %}</title>

	  	{% block stylesheets %}
		    {# On charge le CSS de bootstrap depuis le site directement #}
		    <!-- Bootstrap core CSS -->
		    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
		    <!--external css-->
		    <link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/zabuto_calendar.css') }}">
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/js/gritter/css/jquery.gritter.css') }}" />
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/lineicons/style.css') }}">    
		    
		    <!-- Custom styles for this template -->
		    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
		    <link href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
		    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet">

		    <script src="{{ asset('assets/js/chart-master/Chart.js') }}"></script>
		    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatable.css') }}">
		    
		    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		    <![endif]-->
	 	{% endblock %}
	</head>

  	<body>

  		<section id="container" >
	      	<!-- **********************************************************************************************************************************************************
	     	 TOP BAR CONTENT & NOTIFICATIONS
	     	 *********************************************************************************************************************************************************** -->
	      	<!--header start-->
	      	<header class="header black-bg">
		     	<div class="sidebar-toggle-box">
		        	<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
		      	</div>
	            <!--logo start-->
	            <a href="#" class="logo"><b>{{ 'global.website_name'|trans() }}</b></a>
	            <!--logo end-->
	            <div class="nav notify-row" id="top_menu">
	                <!--  notification start -->
	                <ul class="nav top-menu">
	                </ul>
	                <!--  notification end -->
	            </div>
	            <div class="top-menu">
	            	<ul class="nav pull-right top-menu">
	            		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    						<li><a class="logout btn" href="{{ path('show_me', { 'id' : app.user.id}) }}">{{ 'global.my_account'|trans() }}</a></li>
							<li><a class="logout btn" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a></li>
    					{% else %}
	                    	<li><a class="logout btn" href="{{ path('fos_user_security_login') }}">{{ 'global.sign_in_out'|trans() }}</a></li>
	                    {% endif %}
	            	</ul>
	            </div>
	        </header>
	      	<!--header end-->
	      
	      	<!-- **********************************************************************************************************************************************************
	      	MAIN SIDEBAR MENU
	      	*********************************************************************************************************************************************************** -->
	      	<!--sidebar start-->
		      	<aside>
		          	<div id="sidebar"  class="nav-collapse ">
		              	<!-- sidebar menu start-->
		              	<ul class="sidebar-menu" id="nav-accordion">
		              		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			              		<p class="centered"><a href="{{ path('show_me', { 'id' : app.user.id}) }}">
			              		{% if app.user.picture is null %}
			              			<img src="{{ asset('assets/img/ui-sam.jpg') }}" class="img-circle" width="60">
			              		{% else %}
			              			<img src="{{ asset('uploads/users/'~ app.user.id ~ '/' ~ app.user.picture) }}" class="img-circle" width="60">
			              		{% endif %}

			              		</a></p>
		              		{% else %}
		              		<p class="centered"><a href="#"><img src="{{ asset('assets/img/ui-sam.jpg') }}" class="img-circle" width="30"></a></p>
		              		{% endif %}

		         

		              	  	{% set route = app.request.attributes.get('_route') %}
			                <li>
			                    <a {% if route == 'au_homepage' %} class="active" {% endif %} href="{{ path('au_homepage') }}"">
			                        <i class="fa fa-home"></i>
			                        <span>{{ 'menu.home'|trans() }}</span>
			                    </a>
			                </li>
			                <li>
			                    <a {% if route == 'lecture_category_index' %} class="active" {% endif %} href="{{ path('lecture_category_index') }}"">
			                        <i class="fa fa-book"></i>
			                        <span>{{ 'lecture.title'|trans() }}</span>
			                    </a>
			                </li>
			                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			                	<li class="sub-menu">
			                      	<a href="javascript:;" >
			                          <i class="fa fa-user"></i>
			                          <span>{{ app.user.username }}</span>
			                      	</a>
			                      	<ul class="sub">
			                      		<li>
			                      			<a  href="{{ path('timeline_index') }}">{{ 'global.timeline'|trans() }}</a>
			                      		</li>
			                      		<li>
			                      			<a  href="{{ path('message_index') }}">{{ 'global.inbox'|trans() }}</a>
			                      		</li>
				                        <li>
				                        	<a  href="{{ path('my_project') }}">{{ 'project.my_project'|trans() }}</a>
				                        </li>
				                        <li>
				                        	<a  href="{{ path('show_me', { 'id' : app.user.id}) }}">{{ 'global.my_account'|trans() }}</a>
				                        </li>
			                      	</ul>
			                  	</li>
			                	
			                {% endif %}
		                  	<li class="sub-menu">
		                      	<a href="javascript:;" {% if  
		                          (route == 'project_index') 
		                          or (route == 'project_show') 
		                          or (route == 'project_edit') 
		                           %} class="active" {% endif %} >
		                          <i class="fa fa-folder-open"></i>
		                          <span>{{ 'menu.project'|trans() }}</span>
		                      	</a>
		                      	<ul class="sub">
		                          <li><a  href="{{ path('project_index') }}">{{ 'menu.project_all'|trans() }}</a></li>
		                          <li><a  href="{{ path('project_new') }}">{{ 'menu.project_new'|trans() }}</a></li>
		                      	</ul>
		                  	</li>
		                  	
		                  	<li class="sub-menu">
			                    <a  href="{{ path('user_index') }}" 
		                      	<a href="javascript:;" {% if route == 'user_index' %} class="active" {% endif %}>
			                        <i class="fa fa-users"></i>
			                        <span>{{ 'menu.artist_and_creativecraftsman'|trans() }}</span>
			                    </a>
			                </li>
			                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
			                  	<li class="sub-menu">
			                      	<a href="javascript:;" >
			                          <i class="fa fa-book"></i>
			                          <span>Admin</span>
			                      	</a>
			                      	<ul class="sub">
			                        	<li><a  href="{{ path('contact_index') }}">Les messages</a></li>
			                        	<li><a  href="{{ path('admin_page_index') }}">Pages Administratives</a></li>
			                        	<li><a  href="{{ path('admin_poll_index') }}">Les sondages</a></li>
			                        	<li> <a href="{{ path('category_index') }} "> Les catégories de cours </a></li>
			                        	<li> <a href="{{ path('lecture_index') }} "> Les cours</a></li>
			                      	
			                      	</ul>
			                  	</li>
			                  	{% endif %}
			                {% endif %} 
		                  	<!-- <li class="sub-menu">
		                      <a  href="{{ path('au_forum_homepage') }}" {% if route == 'au_forum_homepage' %} class="active" {% endif %}>
		                          <i class="fa fa-th"></i>
		                          <span>Forum</span>
		                      </a>
		                  	</li> -->
		                  
		                  	<li class="sub-menu">
		                      	<a  href="{{ path('contact_new') }}"  {% if route == 'contact_new' %} class="active" {% endif %} >
		                          <i class=" fa fa-ticket"></i>
		                          <span>Contact</span>
		                      	</a>
		                  	</li>

		              	</ul>
		              	<!-- sidebar menu end-->
		         	</div>
		      	</aside>
	      	<!--sidebar end-->
	      
	      <!-- **********************************************************************************************************************************************************
	      MAIN CONTENT
	      *********************************************************************************************************************************************************** -->
	      <!--main content start-->
	        <section id="main-content">
	            <section class="wrapper">
	              	<div class="row">
	              		{% if route == 'message_index' or route == 'message_show' or  route == 'message_new' or route == 'chapter_show' %}
	                	<div class="col-lg-9 main-chart" style ="color:black">
	                	{% else %}
	                	<div class="col-lg-12 main-chart" style ="color:black">
	                	{% endif %}
	                  		
	       					{% block body %}
	        				{% endblock %}
	  						
	                  	</div>

	                  	

	                  
	      <!-- **********************************************************************************************************************************************************
	      RIGHT SIDEBAR CONTENT
	      *********************************************************************************************************************************************************** -->                  

			{% if route == 'message_index' or route == 'message_show' or  route == 'message_new' %}
				
				{{ render(controller(
			        'AUGeneralBundle:Message:messageSidebar'
			    )) }}
			{% else %}

				</section>
				</section>
			   
			{% endif %}


	      	<!--main content end-->
	      	<!--footer start-->
	      	<br />
			<br />
	      	<footer class="site-footer navbar-fixed-bottom">
	      	 
	      		<div style="float:right">
	      			<a href="{{path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a> |
    				<a href=" {{path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"">EN</a>
	      		</div>
	          	<div class="text-center">
	            	{{ 'global.website_name'|trans() }} {{ 'global.footer'|trans() }}
	          	</div>
	      	</footer>
	      	<!--footer end-->
  		</section>
	 	{% block javascripts %}
		    <!-- js placed at the end of the document so the pages load faster -->
		    <script src="{{ asset('assets/js/jquery.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery-1.8.3.min.js') }}"></script>
		    <script src="{{ asset('assets/js/bootstrap.min.j') }}s"></script>
		    <script class="include" type="text/javascript" src="{{ asset('assets/js/jquery.dcjqaccordion.2.7.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
		    <script src="{{ asset('assets/js/jquery.nicescroll.js" type="text/javascript') }}"></script>
		    <script src="{{ asset('assets/js/jquery.sparkline.js') }}"></script>
		    <!--common script for all pages-->
		    <script src="{{ asset('assets/js/common-scripts.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('assets/js/gritter/js/jquery.gritter.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('assets/js/gritter-conf.js') }}"></script>	
		    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/datatable_1.10.13.js') }}"></script>
		    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/dataTable.bootstrap.js') }}"></script>
		    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/bootstrap-datetimepicker.js') }}"></script>
		    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>
			
			<script type="text/javascript">

			$(document).ready( function () {
			    $('#pagination').DataTable( {
			    	stateSave: true,
			    	"language": {
			            "lengthMenu": "{{ 'global.show'|trans() }} _MENU_ {{ 'pagination.per'|trans() }} {{ 'pagination.page'|trans() }}",
			            "zeroRecords": "{{ 'pagination.no_element'|trans() }}",
			            "info": "{{ 'global.show'|trans() }} {{ 'pagination.page'|trans() }} _PAGE_ {{ 'pagination.on'|trans() }} _PAGES_",
			            "infoEmpty": "{{ 'pagination.no_data_received'|trans() }}",
			            "infoFiltered": "({{ 'pagination.filtered_from'|trans() }} _MAX_ {{ 'pagination.total_records'|trans() }})",
			            "search" : "{{ 'pagination.search'|trans() }}",
			            "paginate": {
					        "first":      "{{ 'pagination.first'|trans() }}",
					        "last":       "{{ 'pagination.last'|trans() }}",
					        "next":       "{{ 'pagination.next'|trans() }}",
					        "previous":   "{{ 'pagination.previous'|trans() }}"
					    },
			        }
			    });
			} );
		


            var chemin = window.location.pathname;

            if(chemin.indexOf('/admin/poll/') >=0 ){
                var urlCount =  $('#listlinks_links').attr('href');
                urlCount = urlCount.substr(1);
                $('#listlinks_links').click(function() {
                    var links = $('#links-list');

                    // parcourt le template prototype
                    var newWidget = links.attr('data-prototype');
                    // remplace les "__name__" utilisés dans l'id et le nom du prototype
                    // par un nombre unique pour chaque email
                    // le nom de l'attribut final ressemblera à name="contact[emails][2]"
                    newWidget = newWidget.replace(/__name__/g, urlCount);
                    $(newWidget).addClass('form-control');
                    urlCount++;

                    // créer une nouvelle liste d'éléments et l'ajoute à notre liste
                    var newLi = $('<div class="form-group clearfix"></div>').html(newWidget);
                    //newLi.appendTo($('#contacts-list'));
                    $('#links-list').prepend(newLi);

                    return false;
                });
            }


            function remove_link(id) {
                var div = $('div[name="link_'+id+'"]');
                $(div).remove();

            }
            
        </script>
		{% endblock %}
  	</body>
</html>
