{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  Forum - {{ parent() }}
{% endblock %}

{% block au_body %}
<h2>Forum</h2>
	<div class="table-responsive">
        <table class = "table table-bordered">
		  <tr> 
		  	<td>Nom</td>
		  </tr>
		  {% for forum in listForums %}
		  {% set defaultpage = 1 %}
		  <tr>
		  	<td> <a href="{{ path('au_forum_viewpage', {id : forum.id, page : defaultpage}) }}"> {{ forum.name }} </a> 
		  	</td>
		  </tr>
		  {% endfor %}
	  </table>
	</div>
{% endblock %}