{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  {{ forum.name }} - {{ parent() }}
{% endblock %}

{% block au_body %}

  <h2>{{ forum.name }}</h2>
	<div class="table-responsive">
        <table class = "table table-bordered">
            {% for thread in listThread %}
            {% set defaultpage = 1 %}
            <tr><td> <a href="{{ path('au_forum_thread_viewpage', {id : thread.id, page : defaultpage}) }}"> {{ thread.title }} </a> </td></tr>
            <tr><td>Par : {{ thread.author.getUserName() }} - Dernier message : {{ thread.lastCommentAt.format('Y-m-d H:i:s') }} <br/></td></tr>
            {% endfor %}
        </table>
        {% if nbPage > 1 %}
        <br/><br/>
        <table class = "table table-bordered"><tr>        
          {% for p in 1..nbPage %}
            <td>&nbsp;
            {% if p != page %} 
                <a href="{{ path('au_forum_viewpage', {id : forum.id, page : p}) }}"> {{ p }} </a>
            {% else %}
                {{ page }}
            {% endif %}
                &nbsp;
            </td>
        {% endfor %}
        </tr></table>
        {% endif %}
    {% if canStartNewThread %} 
      <br/><br/><a href="{{ path('au_forum_newthread', {id : forum.id}) }}">Commencer une nouvelle discussion</a>
    {% endif %}
    </div>
{% endblock %}