{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
 Changer le mot de passe - {{ parent() }}
{% endblock %}


{% block fos_user_content %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{% endblock fos_user_content %}
