{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'global.inbox'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}

<h1>{{ 'global.inbox'|trans() }}</h1>

<br /><br />
<a href="{{ path('message_new') }}" class ="btn btn-success">{{ 'global.new'|trans() }}</a>
<br /><br />
<div class="table-responsive">
        <table class = "table table-bordered">
        	<thead>
        		<tr>
        			<th> {{ 'inbox.with'|trans() }}</th>
        			<th> {{ 'inbox.last_message'|trans() }} </th>
        			<th> {{ 'inbox.read'|trans() }} </th>
        		</tr>
        	</thead>
            <tbody>
				{% for msg in messages %}
				<tr>
					<td>
						{% if app.user not in msg.sender %}
					        {% for sender in msg.sender %}
					            <a href="{{ path('message_show', { 'id' : msg.id}) }}" >{{ sender.username }}</a>
					        {% endfor %}
					    {% else %}
					        {% for sender in msg.receiver %}
					            <a href="{{ path('message_show', { 'id' : msg.id}) }}" >{{ sender.username }}</a>
					        {% endfor %}
					    {% endif %}
					</td>
					<td>
						{{ msg.message[msg.message|length -1].text|raw }}
					</td>
					<td>
						{% if msg.read == "Lu" %}
							{{ 'global.yes'|trans() }}
						{% else %}
							{{ 'global.no'|trans() }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}			
			</tbody>
		</table>
	</div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$( document ).ready(function() {


     initSidebar();
});

function initSidebar() {

    var url_ajax = "{{ path('ajax_sidebar_message' )}}";

    var request = $.ajax({
        url: url_ajax,
        type: "GET",          
    });

    request.done(function(msg) {
        var i;
        for (i = 0; i < msg.length; ++i) {
            var url_message ="<a href=\"{{path('message_show', {id : 'msg_id' })}}\"> name </a><p><muted>"+msg[i].message+"</p></muted>";
            url_message = url_message.replace('msg_id', msg[i].id);
            url_message = url_message.replace('name', msg[i].username);


           $(".ds").append("<div class=\"desc\">"+url_message+"</div>");
        }
      
    });

    request.fail(function(jqXHR, textStatus) {
        alert( "{{ 'global.error'|trans() }} : " + textStatus );
    });

}
</script>
{% endblock %}

