{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  Forum - {{ parent() }}
{% endblock %}

{% block au_body %}

  <h2>Commencer une discussion</h2>
  <div class="well">

 {{ form_start(form) }}

 		<div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.thread.title, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.thread) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.thread.title, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.body, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.body) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.body, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>



        <div class = "text-center">
          <input type="submit" value="Envoyer" class="btn btn-success" />
        </div>
        {{ form_end(form) }}
  </div>
{% endblock %}