{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  {{ thread.title }} - {{ parent() }}
{% endblock %}

{% block au_body %}

  <h2>{{ thread.title }}</h2>
	<div class="table-responsive">
      <table class = "table table-bordered">
      {% for comment in listComment %}
        <tr><td><div class="col-lg-8 col-md-8"> {{ comment.body|nl2br }}</div> <div class="col-lg-4 col-md-4 noPadLeft text-right" style="font-size: 11px" >Par {{ comment.author.getUserName() }}, le: {{ comment.createdAt.format('Y-m-d H:i') }} </div></td></tr>
      {% endfor %}
      </table>
      {% if nbPage > 1 %}
      <br/><br/>
      <table class = "table table-bordered"><tr>        
      {% for p in 1..nbPage %}
        <td>&nbsp;
        {% if p != page %} 
          <a href="{{ path('au_forum_thread_viewpage', {id : thread.id, page : p}) }}"> {{ p }} </a>
        {% else %}
          {{ page }}
        {% endif %}
        &nbsp;</td>
      {% endfor %}
      </tr></table>
      {% endif %}
      {% if canComment %} 
      <br/><br/>  
      <div class="well">

        {{ form_start(form) }}
        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.body, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.body) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.body, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>
        <div class = "text-center">
          <input type="submit" value="Envoyer" class="btn btn-success" />
        </div>
        {{ form_end(form) }}
      </div>
     {% endif %}
    </div> 
{% endblock %}