{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ user.username }} - {{ 'global.edit'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ user.username }} - {{ 'global.edit'|trans() }}</h1>
    {{ form_start(form) }}
        <div class="col-lg-12">

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.firstname, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.firstname) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.firstname, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.lastname, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.lastname) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.lastname, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.gender, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.gender) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.gender, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.language, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.language) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.language, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.location, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.location) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.location, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.styles, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.styles) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.styles, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.tools, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.tools) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.tools, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.equipments, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.equipments) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.equipments, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.website, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.website) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.website, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.bio, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.bio) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.bio, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.socialmedia, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.socialmedia) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.socialmedia, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.email, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.email) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.email, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.picture, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.picture) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.picture, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        
    </div>

<div class="text-center">
    
    <input type="submit" value="{{ 'global.validate'|trans() }}" class="btn btn-success" />
   <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
    {{ form_end(form) }}
    {{ form_start(delete_form) }}
    
    <input type="submit" value="{{ 'global.delete'|trans() }}" class="btn btn-danger">
    {{ form_end(delete_form) }}
    </div>
{% endblock %}
