{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
    {{ 'users.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
<style>

    #pagination td, tr, th {
     border: 1px solid #ddd; !important;
    background: transparent !important ;
    }

    
</style>
    <h1>{{ 'menu.artist_and_creativecraftsman'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered" id="pagination">
            <thead>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <th>{{ 'global.username'|trans() }}</th>
                    <th>{{ 'global.language'|trans() }}</th>
                    <th>{{ 'global.location'|trans() }}</th>
                    <th>{{ 'global.array.actions'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users if user.profiletype == 'public' %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.language }}</td>
                    <td>{{ user.location }}</td>
                    <td>
                        <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-info">{{ 'global.show'|trans() }}</a>
                        {% if app.user.id == user.id %}
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-info">{{ 'global.edit'|trans() }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
