{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ user.username }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ user.username }} </h1>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.username'|trans() }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.picture'|trans() }}</th>
                    <td>
                        {% if user.picture is not null %}
                            <img src="{{ asset('uploads/users/'~ app.user.id ~ '/' ~ app.user.picture) }}" height="80px;" />
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'users.name'|trans() }}</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.lastname'|trans() }}</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.birthday'|trans() }}</th>
                    <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>{{ 'users.gender'|trans() }}</th>
                    <td>{{ user.gender }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.language'|trans() }}</th>
                    <td>{{ user.language }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.location'|trans() }}</th>
                    <td>{{ user.location }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.styles'|trans() }}</th>
                    <td>{{ user.styles }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.tools'|trans() }}</th>
                    <td>{{ user.tools }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.equipments'|trans() }}</th>
                    <td>{{ user.equipments }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.website'|trans() }}</th>
                    <td>{{ user.website }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.biography'|trans() }}</th>
                    <td>{{ user.bio }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.socialmedia'|trans() }}</th>
                    <td>{{ user.socialmedia }}</td>
                </tr>
                <tr>
                    <th>{{ 'users.profiletype'|trans() }}</th>
                    <td>{% if user.profileType %}{{ 'global.public'|trans() }}{% else %}{{ 'global.private'|trans() }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">   
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning">{{ 'global.edit'|trans() }}</a>
    </div>
           
    <br />
    <br />
{% endblock %}
