{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  Administration Page - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="form-group clearfix">
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.name) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.name, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div> 
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.nameEn, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.nameEn) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.nameEn, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div> 
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.text, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.text) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.text, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div>
                <div class="col-lg-2 col-md-4">
                    {{ form_label(form.textEn, null, {'label_attr': {'class':'control-label' }}) }}
                </div>
                {{ form_errors(form.textEn) }}
                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_widget(form.textEn, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div> 
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    {{ form_end(form)}}
{% endblock %}
