{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ home.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ home.description }}</td>
            </tr>
            <tr>
                <th>God</th>
                <td>{{ home.god }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('home_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('home_edit', { 'id': home.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
