{% extends 'base.html.twig' %}

{% block body %}
    <h1>Polloptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pollOption in pollOptions %}
            <tr>
                <td><a href="{{ path('poll_show', { 'id': pollOption.id }) }}">{{ pollOption.id }}</a></td>
                <td>{{ pollOption.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('poll_show', { 'id': pollOption.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('poll_edit', { 'id': pollOption.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('poll_new') }}">Create a new pollOption</a>
        </li>
    </ul>
{% endblock %}
