{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'project.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ 'global.edit'|trans() }}</h1>
    {% if app.user.username in project.owner %}
        {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.title, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.title) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.title, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required'
                        }}) }}
                    </div> 
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.description, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.description) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.description, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required',
                            'rows' : '5',
                        }}) }}
                    </div> 
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.cover, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.cover) }}
                    <div class="col-lg-4 col-md-8 noPadLeft">
                        {{ form_widget(form.cover, { 'attr':  {
                            'class': 'form-control',
                        }}) }}
                    </div> 
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.typeProject, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.typeProject) }}
                    <div class="col-lg-4 col-md-8 noPadLeft">
                        {{ form_widget(form.typeProject, { 'attr':  {
                            'class': 'form-control select',
                        }}) }}
                    </div> 

                    

                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.targetting, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.targetting) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.targetting, { 'attr':  {
                            'class': 'form-control',
                            'rows' : '5',
                        }}) }}
                    </div> 
                </div>
                
            </div>
            <br />
            <br />
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="{{ 'global.validate'|trans() }}" />
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
            </div>
        {{ form_end(form) }}
    {% else %}
    {{ 'project.not_yours'|trans() }}
    {% endif %}

{% endblock %}
