{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'menu.project'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
<style>

    #pagination td, tr, th {
     border: 1px solid #ddd; !important;
    background: transparent !important ;
    }

    
</style>
  


    <h1>{{ 'menu.project_all'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered " id="pagination">
            <thead>
                <tr>
                    <th>{{ 'global.array.title'|trans() }}</th>
                    <th>{{ 'global.array.description'|trans() }}</th>
                    <th>{{ 'global.array.actions'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects if project.typeProject == 'Public' %}
                <tr>
                   
                    <td>{{ project.title }}</td>
                    <td min-width="75%">
                    {{ project.description|slice(0,100)|nl2br }}
                    {% if project.description|length > 100 %}... {% endif %}
                    </td>
                    <td>
                                <a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-success">{{ 'global.show'|trans() }}</a>
                         
                            {% for theowner in project.owner %}
                                {% if app.user.username == theowner %}
                               
                                        <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-success">{{ 'global.edit'|trans() }}</a>
                              
                                {% endif %}
                            {% endfor %}
                    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
