{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'menu.project'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>Liste de mes projets</h1>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Objectif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.date|date("d-m-Y") }}</td>
                    <td>{{ project.targetting }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('project_show', { 'id': project.id }) }}">Montrer</a>
                            </li>
                            
                                <li>
                                    <a href="{{ path('project_edit', { 'id': project.id }) }}">Editer</a>
                                </li>
                     
                        </ul>
                    </td>
                </tr>
          
            </tbody>
        </table>
    </div>
{% endblock %}