{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'menu.project'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ 'project.my_project'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <th>{{ 'global.array.title'|trans() }}</th>
                    <th>{{ 'global.array.description'|trans() }}</th>
                    <th>{{ 'global.array.date_open'|trans() }}</th>
                    <th>{{ 'global.array.target'|trans() }}</th>
                    <th>{{ 'global.array.actions'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
            {% for projet in project %}
                <tr>
                    <td><a href="{{ path('project_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                    <td>{{ projet.title }}</td>
                    <td>{{ projet.description }}</td>
                    <td>{{ projet.date|date("d-m-Y") }}</td>
                    <td>{{ projet.targetting }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('project_show', { 'id': projet.id }) }}">{{ 'global.show'|trans() }}</a>
                            </li>
                            
                                <li>
                                    <a href="{{ path('project_edit', { 'id': projet.id }) }}">{{ 'global.edit'|trans() }}</a>
                                </li>
                      
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}