{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'project.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1 class="text-center">{{ 'menu.project'|trans() }} - {{ project.title }}</h1>

    <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <td>{{ project.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.array.title'|trans() }}</th>
                    <td>{{ project.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.array.description'|trans() }}</th>
                    <td>{{ project.description|nl2br }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.array.cover'|trans() }}</th>
                    <td><img src="{{ asset('assets/'~ project.cover ~ '') }}" height="80px;" /></td>
                </tr>
                <tr>
                    <th>{{ 'global.array.date_open'|trans() }}</th>
                    <td>{{ project.date|date('Y') }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.array.statut'|trans() }}</th>
                    <td>{{ project.typeProject }}</td>
                </tr>
                <tr>
                    <th>{{ 'global.array.target'|trans() }}</th>
                    <td>{{ project.targetting }}</td>
                </tr>

                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        {# form_start(delete_form) #}
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
            {% for theowner in project.owner %}
                {% if app.user.username == theowner %}
                    <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-warning">{{ 'global.edit'|trans() }}</a>
                {% endif %}
            {% endfor %}
            
           <!--  <input type="submit" value="Suppression" class="btn btn-danger"> -->
        {# form_end(delete_form) #}
    </div>

{% endblock %}
