	                  	<div class="col-lg-3 ds">
							<h3>{{ 'sidebar.last_project'|trans() }}</h3> 
							{% for project in projects %}                                      
	                		<div class="desc">
	                			<div class="thumb">
	                				<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
	                			</div>
	                			<div class="details">
	                				<p><muted> {{ project.date|date('Y-m-d') }} </muted><br/>
	                		  			<a href="{{ path('project_show',{id: project.id})}}">{{project.title}}</a><br/> {{ 'sidebar.by'|trans() }} 
	                		  			{% for theowner in project.owner %}
							                {{theowner}}
							            {% endfor %} <br/>
	                				</p>
	                			</div>
	               			</div>
	               			{% endfor %}
	                  	</div>
	              	</div>
	          	</section>
	      	</section>