{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
   {{ 'contact.messages'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ 'contact.list'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered text-center">
            <thead>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <th>{{ 'contact.email'|trans() }}</th>
                    <th>{{ 'contact.subject'|trans() }}</th>
                    <th>{{ 'contact.message'|trans() }}</th>
                    <th>{{ 'global.array.actions'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>
                    <td>
                                <a href="{{ path('contact_show', { 'id': contact.id }) }}" class ="btn btn-warning">{{ 'global.show'|trans() }}</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
