{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'contact.contact_us'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1> {{ 'contact.contact_us'|trans() }}</h1>
    <br />
    
        {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.name) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.name, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required'
                        }}) }}
                    </div> 

                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.subject, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.subject) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.subject, { 'attr':  {
                            'class': 'form-control',
                        }}) }}
                    </div> 
                    
                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.message, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.message) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.message, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required',
                            'rows' : '5',
                        }}) }}
                    </div> 
                    

                </div>
            </div>
            <br />
            <br />
            <div class="text-center">
                <input type="submit" class="btn btn-success" value=" {{ 'global.send'|trans() }}" />
            </div>
        {{ form_end(form) }}
{% endblock %}
