{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
   {{ 'contact.message'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ 'contact.message'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'global.array.ref'|trans() }}</th>
                    <td>{{ contact.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'contact.email'|trans() }}</th>
                    <td>{{ contact.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'contact.subject'|trans() }}</th>
                    <td>{{ contact.subject }}</td>
                </tr>
                <tr>
                    <th>{{ 'contact.message'|trans() }}</th>
                    <td>{{ contact.message }}</td>
                </tr>
            </tbody>
        </table>
    </div>


   <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>

{% endblock %}
