{% extends "AUGeneralBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block au_body %}

  <h2>Login</h2>
	{# S'il y a une erreur, on l'affiche dans un joli cadre #}
		{% if error %}
		<div class="alert alert-danger">{{ error.message }}</div>
		{% endif %}

  	{# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
	<form action="{{ path('login_check') }}" method="post">
		<div class="form-group">
		    <label for="username">Login :</label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" />
		</div>
		<div class="form-group">
		    <label for="password">Mot de passe :</label>
		    <input type="password" id="password" name="_password" />
		    <br />
		    <input type="submit" value="Connexion" />
		</div>
	</form>
{% endblock %}