{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <div class="text-center">
        <h1>{{ lecture.name }}</h1>
        <h2>{{ part.name }}</h2>
        <h3>{{ chapter.name }}</h3>
    </div>

    <br />
    <div>
        {% if chapter.video is not null %}
            <video width="320" height="240" controls>
                <source src="{{asset('uploads/chapter/video/'~chapter.video)}}" type="video/mp4">
                Your browser does not support the video tag.
            </video> 
            <br />
            <br />
        {% endif %}
        {{ chapter.chapterText|raw }}
    </div>
    <div class="text-center" >
        <nav aria-label="Page navigation">
            <ul class="pagination" >
                {% set previous_link = '' %}
                {% set next_link = ''%}
                <li>
                    {% set tmp_chapter = part.chapter|first %}
                    <a href="{{path('chapter_show', { 'id': tmp_chapter.id }) }}" aria-label="Previous" style="color : black">
                        First chapter
                    </a>
                </li>

                {% for key2, chapter2 in part.chapter %}
                    <li {% if chapter2.id == chapter.id %} class="active" {% endif %} ><a href="{{path('chapter_show', { 'id': chapter2.id }) }}" style="color : black" >{{ key2 + 1 }}</a></li>
                {% endfor %}

                <li>
                    {% set tmp_chapter = part.chapter|last %}
                    <a href="{{path('chapter_show', { 'id': tmp_chapter.id }) }}" aria-label="Next" style="color : black">
                        Last chapter
                    </a>
                </li>
            </ul>
        </nav>

        {% set previous_part = "" %}
        {% set next_part = "" %}
        {% set current = false %}
        {% set end = false %}
        {% for key, tmp_part in lecture.part %}
            {% if end == false %}
                {% if current == true %}
                    {% set tmp_chap = tmp_part.chapter|first %}
                    {% set next_part = tmp_chap.id %}
                    {% set end = true %}
                {% endif %}
                {% if tmp_part.id == part.id %}
                    {% set current = true %}
                {% endif %}
                {% if current == false %}
                    {% set tmp_chap = tmp_part.chapter|first %}
                    {% set previous_part = tmp_chap.id %}
                {% endif %}
            {% endif %}
        {% endfor %}

        <nav aria-label="Page navigation">
            <ul class="pager">
            {% if previous_part != "" %}
                <li class="previous" ><a href="{{path('chapter_show', { 'id': previous_part }) }}" style="background-color:#2b2b2b; color: white; font-size: 12px;"><span aria-hidden="true">&larr;</span> Previous part</a></li>
            {% endif %}
            {% if next_part != "" %}
                <li class="next"><a href="{{path('chapter_show', { 'id': next_part }) }}" style="background-color:#2b2b2b; color: white; font-size: 12px; ">Next part <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}


                
            </ul>
        </nav>
    </div>



    <div class="text-center">
        {{ form_start(delete_form) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        {% if app.user in lecture.author %}
            <input type="submit" value="{{ 'global.delete'|trans() }}" class="btn btn-danger">
        {% endif %}
        {{ form_end(delete_form) }}
    </div>

    
</div>
    <div class="col-lg-3 ds">
        <h3 style="background-color:#2b2b2b; color: white; font-size: 15px  ">{{ 'lecture.summary'|trans() }}</h3> 
        <br>    
        {% for key, part in lecture.part %}

        <div class="dropdown text-left" style="width:100%; margin-bottom: 4px;">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:white; color: black; font-size: 12px; width:100%; border:1px solid #2b2b2b ">{{ 'Part'|trans() }} {{ key + 1 }} - {{ part.name }}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for key2, chapter in part.chapter %}
                    <li><a href="{{path('chapter_show', { 'id': chapter.id }) }}" >{{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} - {{ chapter.name }}</a></li>
                {% endfor %}
            </ul>
        </div>  
        {% endfor %}
    </div>
    </section>
</section>
    
        
            
  
{% endblock %}
