{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1> {{ 'lecture.title'|trans()}}</h1>
    <a href="{{ path('lecture_new') }}">Nouveau cours</a>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Cover</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for lecture in lectures %}
                <tr>
                    <td><a href="{{ path('lecture_show', { 'id': lecture.id }) }}">{{ lecture.id }}</a></td>
                    <td>{{ lecture.name }}</td>
                    <td>{{ lecture.cover }}</td>
                    <td>{{ lecture.description }}</td>
                     <td>{{ lecture.statut }}</td>
                    <td>
                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="btn">show</a>
                        <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}" class="btn">edit</a>
                        <a href="{{ path('lecture_validation', { 'id': lecture.id }) }}" class="btn">Valider</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
