{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<a href="{{ path('lecture_new') }}" class="btn btn-general">{{ 'global.new'|trans() }}</a>
{% endif %}
<a href="{{ path('lecture_search') }}" class="btn btn-general">{{ 'search'|trans() }}</a>
<br />
<br />

{% for category in categories %}
<div class="col-lg-3">
    <div class="thumbnail text-center">
        <img src="{{ asset('uploads/category/'~category.cover) }}" alt="{{ category.name }}" height="150px">
        <div class="caption">
            <h3>{{ category.name }}</h3>
            <p><a href="{{ path('category_courses', {'id' : category.id})}}" class="btn btn-general" role="button">Voir</a> </p>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
