{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}
<div class="text-center">
    <h1>{{ lecture.name }}</h1>
</div>
{{ form_start(form)}}
<div class="col-lg-12">
    <div class="form-group clearfix">
        <div class="col-lg-2 col-md-4">
            {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
        </div>
        {{ form_errors(form.name) }}
        <div class="col-lg-12 col-md-12 noPadLeft">
            {{ form_widget(form.name, { 'attr':  {
                'class': 'form-control',
                'required' : 'required'
            }}) }}
        </div> 
    </div>
</div>
<div class="text-center">
	<input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" />
	<a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
</div>
{{ form_end(form)}}
{% endblock %}