{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
 {{ title|trans }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1> {{ title|trans }}</h1>

    {{ form_start(form) }}
        <div class="col-lg-12">
            <div class="form-group clearfix">
                <div class="col-lg-2">
                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.name) }}
                </div>               
                <div class="col-lg-4">
                    {{ form_widget(form.name, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
                </div> 

                <div class="col-lg-2">
                    {{ form_label(form.category, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.category) }}
                </div>
                
                <div class="col-lg-4">
                    {{ form_widget(form.category, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                    }}) }}
                </div>

                <div class="col-lg-2">
                    {{ form_label(form.language, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.language) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.language, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
                </div>

                <div class="col-lg-2">
                    {{ form_label(form.sort, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.sort) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.sort, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
                </div> 

                <div class="col-lg-2">
                    {{ form_label(form.tags, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.tags) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.tags, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
                </div>  
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="{{ 'search'|trans() }}" class="btn btn-general" />
        </div>
    {{ form_end(form )}}

    <br />
    <br />
    {% if lectures is not empty %}
        <div class="text-center">
            <h1> Résultats </h1>
        </div>
        
    {% endif %}
    {% for lecture in lectures %}
        <div class="col-lg-3">
            <div class="thumbnail text-center">
                <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}" height="150px">
                <div class="caption">
                    <p>{{ lecture.name }}</p>
                    <p><a href="{{ path('lecture_show',{ 'id' : lecture.id })}}" class="btn" style="background-color:#2b2b2b; color: white; font-size:  " role="button">Voir</a> </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}