{% extends "AUGeneralBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}
<style type="text/css">

h1 { color: black; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }

h2 { color: black; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 16px; }

h3 { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 13px; }

h4 { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 13px; font-weight:bold;  }

.btn-website { background-color:#2b2b2b; color: white; font-size: 12px; }
</style>

<div class="text-center">
    <h1>{{ lecture.name }}</h1>
    <img src="{{asset('uploads/lecture/cover/'~lecture.cover)}}" style="max-height: 300px;" class="img-thumbnail">
</div>

<div class="col-lg-12">
    <div class="col-lg-6 ">
        <div>
            <h4>{{ 'lecture.summary'|trans() }}</h4>
        </div>
        <div>
            {% if app.user in lecture.author %}
                <div>
                    <a href="{{ path('lecture_add_part', { 'id': lecture.id }) }}" class="btn btn-website">{{ 'lecture.new_part'|trans()}}</a>
                </div>
            {% endif %}
        </div>
        <div style="margin-left:5%">
            {% for key, part in lecture.part %}
                <h4>{{ 'Part'|trans() }} {{ key + 1 }} :<span style="font-weight:bold"> {{ part.name }}  </span> </h4>
                <div style="margin-left:5%;line-height: 180%;">
                    {% for key2, chapter in part.chapter %}
                    
                        <h5 style="font-size:12px"><span style="font-weight:bold;  "> {{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} : </span> <a href="{{path('chapter_show', { 'id': chapter.id }) }} ">{{ chapter.name }}</a></h5>
                    
                    {% endfor %}
                    {% if app.user in lecture.author %} 
                        <div class="">
                            <a href="{{ path('part_add_chapter', { 'id': part.id }) }}" class="btn btn-website">{{ 'lecture.new_chapter'|trans()}}</a>
                        </div>
                        <br /><br />
                    {% endif %}
                </div>   
                
                
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-6" style="margin-bottom: 15px;">
        <h4>Description</h4>
        {% if app.user in lecture.author %}
            <h6>{{ 'Status'|trans }} : {{ lecture.statut|trans|raw }}, {{ 'language'|trans }} : {{ lecture.language }}</h6>
            {% if lecture.statut == 'Draft' %}
                 <a href="{{ path('lecture_ask_validation', { 'id' : lecture.id })}}"> Demander validation</a>
            {% else %}
                <a href="{{ path('lecture_cancel_validation', { 'id' : lecture.id })}}"> Mettre en brouillon</a>
            {% endif %}
        {% endif %}

        <p>{{ lecture.description|raw }}</p>
        <h4> {{ 'Author.s'|trans }} </h4>
        {% for author in lecture.author %}
                <a href="{{ path('user_show', { 'id' : author.id })}}"> {{ author.username }}</a>
                {% if loop.last == false %}
                ,
                {% endif %}
        {% endfor %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('lecture_download', { 'id' : lecture.id}) }}" class="btn" style="background-color:#2b2b2b; color: white; border: ">{{ 'global.download'|trans() }}</a>
            <br />
        {% endif %}
    </div>
</div>
<div class="text-center" style="margin-top: 8px ">
    {% if app.user in lecture.author %}
        <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}" class="btn btn-info">{{ 'global.edit'|trans()}}</a>
    {% else %}
        <div><br /></div>
    {% endif %}

    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
</div>
           
{% endblock %}
