{% extends "AUUserBundle::layout.html.twig" %}
    
{% block title %}
  Connexion - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
<style type="text/css">
    .nav-links a{padding-top:0;line-height:19px}
    .md-header .nav-links a.btn.btn-xs,.md-header .nav-links .btn-group-xs>a.btn{padding:2px 5px}

</style>


{% if error %}
    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div> <br />
{% endif %}
<div class="col-lg-12">
    <ul class="nav nav-links new-session-tabs nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a data-toggle="tab" href="#login-pane" role="tab">{{'global.sign_in'|trans()}}</a>
        </li>
        <li role="presentation">
            <a data-toggle="tab" href="#register-pane" role="tab">{{'global.sign_up'|trans()}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="login-box tab-pane active" id="login-pane" role="tabpanel">
            <div class="login-body">
            <br />
                <div class="col-lg-12">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="form-group clearfix">
                            <div class="col-lg-4 col-md-4">
                                <label for="username">{{'global.username'|trans()}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 noPadLeft">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-lg-4 col-md-4">
                                <label for="password">{{'global.password'|trans()}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 noPadLeft">
                                <input type="password" class="form-control" id="password" name="_password" required="required" />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-lg-4 col-md-4">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{'global.remember_me'|trans()}}</label>
                            </div>
                        </div>
                        <div class = "text-center">
                            <input type="submit" id="_submit" name="_submit" value="Se connecter" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane login-box" id="register-pane" role="tabpanel">
            <div class="login-body">
                <br />
                {{ render(controller('FOSUserBundle:Registration:register')) }}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
